/* red
#cf142c 

gray
#83807c*/

#root {
  width: 100vw;
  min-height: 100vh;
  position: relative;
  background-color: #f4f4f4;
}

body {
  overflow: auto !important;
}

nav {
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
}

.logo {
  max-width: 3rem;
}

.logo-grande {
  display: block;
  max-width: 15rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
  margin-bottom: -3rem;
}

h1 {
  margin-top: 5rem !important;
  font-size: 4rem !important;
  text-align: center;
}
h2 {
  font-size: 2rem !important;
}

h3 {
  font-size: 2rem !important;
}

.a-home {
  padding: 0.5rem;
  font-size: 2rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  text-decoration: underline;
}

.jugadorass {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  margin: 1rem;
  background-color: #fdfdfd;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
}

.trow {
  grid-column: 1/-1;
  padding-top: 0.25rem;
  padding: 0.5rem;
  border-top: solid 0.5px #cf142c;
}
.trow:nth-child(even) {
  background-color: #fff6f7;
}

.thead {
  padding: 0.5rem;
  font-size: 1.25rem;
}

.tcel {
  text-align: left;
  font-size: 1.25rem;
}
.tcel > span {
  margin-left: 0.3rem;
}

.tdetail {
  grid-column: 1/-1;
  padding: 1rem;
}

.more {
  grid-column: 1/-1;
}

.expand {
  width: 100% !important;
  grid-column: 1/-1;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}

.my-row {
  padding: 1rem 0;
  width: 40vw;
}

.my-row * {
  margin: 0.25rem;
  text-align: left;
}
.filters {
  margin: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 2rem;
}

.filters button {
  padding: 0.5rem 1rem;
  background: none;
  color: #cf142c;
  border: none;
  border-left: solid 1px #cf142c;
  font-size: 1.15rem;
}

.filters button:first-child {
  border: none;
}

.filters button:hover {
  color: #616161;
  border-color: #cf142c;
  text-decoration: underline;
}

.my-search {
  width: 30vw !important;
}

.my-search span {
  background-color: #cf142c;
  color: white;
  border-color: #cf142c;
}

#searchBar {
  border: solid 1px #cf142c;
}

.group {
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-top: solid 1px #cf142c;
  margin: 0.25rem 0;
}

div.group {
  justify-content: space-evenly;
  align-items: flex-start;
}

.details:nth-child(2) {
  margin: 5rem 0;
}

.d-flex svg {
  margin-left: 0;
  color: #cf142c;
}

.data {
  font-weight: 600;
}
h4 {
  font-weight: 600 !important;
  color: #990418;
}

.active {
  color: #5fcd10;
}
.inactive {
  color: #a7a7a7;
}

footer {
  background-color: #cf142c;
  /* position: absolute;
  bottom: 0; */
  width: 100vw;
  padding: 1rem;
  color: #fff3f4;
  margin-top: 5rem;
}

.btn-prim {
  border-color: #cf142c;
  color: #cf142c;
  padding: 0.3rem;
  border-radius: 0.3rem;
  display: block;
  margin-left: auto;
  margin-right: 2rem;
  background: none;
}

.btn-prim:hover {
  background-color: #cf142c;
  color: #fff3f4;
  border-color: #cf142c;
}

form {
  max-width: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#edit {
  max-width: 100%;
}

#edit input {
  margin: 0 !important;
  border: none;
  border-bottom: solid 1px #616161;
}

#edit label {
  margin: 0.2rem;
}

#edit .form-group {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.form-group {
  display: flex;
}

fieldset {
  margin: 1rem 0 !important;
  border-bottom: solid 1px #990418 !important;
  padding: 1rem !important;
}

legend {
  color: #990418 !important;
  font-weight: 500 !important;
}

.error {
  position: absolute;
  color: red;
  font-size: 0.8rem !important;
}

.buttons {
  margin: 1rem 1.25rem !important;
  position: relative;
}

.buttons > button {
  margin-right: 1rem;
}

.btn-reset {
  color: #cf142c !important;
  /* border: none; */
}
.btn-reset:hover {
  text-decoration: underline;
  border: none !important;
}

.success {
  position: fixed;
  top: 9vh;
  left: 0;
  background-color: #caf5d5;
  width: 100vw;
  color: #22440b;
  text-align: center;
  height: 8vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.success p {
  margin: 0;
  margin-left: 0.5rem;
}
